<section class="hero">
  <div class="hero-overlay">
    <div class="container hero-content">
      <div class="hero-text">
        <h2>Aula Virtual de Posgrado</h2>
        <p>
          Bienvenido al Aula Virtual de la Universidad Autónoma del Beni "José Ballivián".
          Aquí podrás acceder a todos los recursos y actividades académicas para tus estudios de posgrado.
        </p>
        <button type="button" routerLink="/aula-virtual">Ingresar al Aula Virtual</button>
      </div>
    </div>
  </div>
</section>
